<mat-accordion>
    <div [formGroup]="caseInfo">
        <div formArrayName="billingEntities">
    <mat-expansion-panel *ngFor="let item of billingEntities.controls;let i=index" [formGroupName]="i">
      <mat-expansion-panel-header>
            <mat-panel-title>
                Billing Entity {{i}} - {{item.get('billingEntityName').value}}
            </mat-panel-title>
     </mat-expansion-panel-header>
<div class="row">
<div class="col-sm-4">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Entity Effective Date" formControlName="billingEntityEffDate">
    </mat-form-field>
</div>
<div class="col-sm-4">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Entity Name" formControlName="billingEntityName">
    </mat-form-field>
</div>

<div class="col-sm-4">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Entity Type" formControlName="billingEntityType">
    </mat-form-field>
</div>
</div>


<mat-divider></mat-divider>


<div class="row">
<div class="col-sm-4">
        <mat-form-field class="example-full-width">
                <input matInput placeholder="Entity Status Code" formControlName="billingEntitySttsCd">
        </mat-form-field>
</div>
<div class="col-sm-4">
        <mat-form-field class="example-full-width">
                <input matInput placeholder="Bill Copies Number" formControlName="billCopiesNbr">
        </mat-form-field>
</div>
<div class="col-sm-4">
        <mat-form-field class="example-full-width">
                <input matInput placeholder="Bill Frequency" formControlName="billFrequency">
        </mat-form-field>
</div>
</div>

  <mat-divider></mat-divider>
</mat-expansion-panel>
</div>
</div>
</mat-accordion>
